 /* Global custom css */
body{
  background-color: #343a40;
}
/* end */

/* Custom css for Navbar */
@media screen and (max-width: 575px){
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-link{
  font-size: 20px;
  font-weight: 100;
}

.container{
  border-bottom: 1px solid gray;
}
 /* End */


/* Custom css for carousel */
.ratio img{
  width: 100%;
  height: auto;
  /* max-height: 720px; */
}

.carousel-caption{
  padding-top: 200px;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}
/* end */

/* Footer */
.footer {
  background: #283132;
  color: gray;
  height: 300px;
  width: 100%;
  bottom: 0px;
  position: relative;
}

.footer .footer-bottom {
  background: #283132;
  color: gray;
  height: 50px;
  width: 100%;
  text-align: center;
  word-spacing: 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

/* end */

 /* Custom css for media object */
.media-body .btn {
  border-radius: 25px;
}

.media-body h5 {
  color: white;
}

.media-body p {
  color: white;
}

.card-img{
  width: 100%;
  height: auto;
}
.card-text{
  color:white;
}

.card-fade{
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.card-cont:hover .card-fade{
  opacity: 0.3;
}

.card-cont:hover .card-overlay {
  opacity: 1;
}

.card-overlay{
  transition: .5s ease;
 opacity: 0;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 text-align: center;
}

/* end */
