 /* Global custom css */
body{
  background-color: #343a40;
}
/* end */

/* Custom css for Navbar */
@media screen and (max-width: 575px){
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
}

.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nav-link{
  font-size: 20px;
  font-weight: 100;
}

.container{
  border-bottom: 1px solid gray;
}
 /* End */


/* Custom css for carousel */
.ratio img{
  width: auto;
  height: 800px;
  /* max-height: 720px; */
}

.carousel-caption{
  padding-top: 200px;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
}
/* end */

 /* Custom css for media object */
.media-body .btn {
  border-radius: 25px;
}

.media-body h5 {
  color: white;
}

.media-body p {
  color: white;
}

.img2{
  width:auto;
  height: 300px;
}
/* end */
